name: Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: JappeOS/jappeos-workflows/.github/workflows/build-package.yml@main
    with:
      package-name: plymouth-jappeos
    secrets: inherit
